#eco-habitat-page {
  .hero-bg {
    .container {
      position: relative;
      height: 100vh;
      .wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
      }
    }
    height: 100vh;
    .content-block {
      background: rgba(255, 255, 255, 0.71);
      position: absolute;
      bottom: 40px;
      left: 40px;
      padding: 20px 30px;
      max-width: 800px;
    }

    .intro {
      padding: 0;
    }
    h1 {
      margin-bottom: 20px;
    }
    h3 {
      margin-bottom: 30px;
    }
    .sub {
      max-width: 480px;
      font-weight: normal;
    }
  }

  .eco-habitat-features {
    padding: 40px 0;

    .feature {
      padding-right: 2.5%;
    }
  }
}

#sapthapatha {
  .lg-button {
    max-width: 800px;
    margin: 80px auto;
    text-align: center;
    line-height:1.5;
  }

  .intro {
    max-width: 850px;
    margin: 0 auto;
    text-align:center;

    h2 {
      margin-bottom: 10px;
    }
    h3 {
      margin-bottom: 10px;
    }
    p {
      font-weight: normal;
    }
  }

  .strands-wrapper {
    padding: 0 15px;
  }

  .strands-desc {
    max-width: 1500px;
    margin: 40px auto;

    &:nth-of-type(2) {
      max-width: 1100px;
      margin: 0 auto;
    }
  }

  .strand {
    padding: 0 1%;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    .icon {
      max-height: 200px;
      max-width: 200px;
      margin: 0 auto -30px;

    }
    .title {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 640px) {
  #eco-habitat-page {
    .hero-bg .content-block {
      width: 100%;
      top:450px;
      left: 0;
      margin: 0;
    }
  }
  #sapthapatha {
    .intro {
      text-align: left;
      h2 {
        font-size: 41px;
      }
    }
  }

  #eco-habitats-slider {
    margin: 0 !important;
  }

  #naandi-section {
    margin: 0 !important;
  }

  #eco-habitat-testimonials {
    margin: 0 !important;
  }
}