#eco-habitat-page {

  #video-header .hero-bg .content-block {
    max-width: 1000px !important;
    h3 {
      font-weight: normal !important;
    }
  }

  #eco-habitat-testimonials {

      .image-container {
        height: 100%;
        background-image: url('/static/images/testimonials/eco_lakshmi.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-origin: padding-box;
        background-clip: border-box;
        background-color: #ccc;
      }

  }


  h1 {
    margin-bottom: 10px;
  }



  .pronunciation {
    opacity: 0.7;
    margin-bottom: 10px;
  }

  .image-content-list {
    .image-content-component:nth-child(1) {
      .feature-component {
        .image-background {

        }
      }
      .slider-container {
        background: url('/static/images/ecohabitat/1.jpg') center no-repeat;
      }
      .wide-image {
        background-image: url('/static/images/ecohabitat/1.jpg');
      }
    }
    .image-content-component:nth-child(2) {
      .feature-component {
        .image-background {

        }
      }
      .slider-container {
        background: url('/static/images/ecohabitat/2.jpg') center no-repeat;
      }
      .wide-image {
        background-image: url('/static/images/ecohabitat/2.jpg');
      }
    }
    .image-content-component:nth-child(3) {
      .feature-component {
        .image-background {

        }
      }
      .slider-container {
        background: url('/static/images/ecohabitat/3.jpg') center no-repeat;
      }
      .wide-image {
        background-image: url('/static/images/ecohabitat/3.jpg');
      }
    }
    .image-content-component:nth-child(4) {
      .feature-component {
        .image-background {

        }
      }
      .slider-container {
        background: url('/static/images/ecohabitat/4.jpeg') center no-repeat;
      }
      .wide-image {
        background-image: url('/static/images/ecohabitat/4.jpeg');
      }
    }

  }
}

#problem-solution {
  h2 {
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 1.2rem;
  }

  .problem {
    margin-bottom: 10rem;
  }

  img.illustration {
    position: relative;
    left:100px;
  }
}

#sapthapatha-detail {
  .one-strand {
    padding-right: 20px;
  }
}

#sustainability {
  .sustainable-strand {
    margin-bottom: -30px;
  }
  @media (max-width: 640px) {
    .sustainable-strand {
      .py-12 {
        padding-top: 0;
      }
      img {
        max-width:200px !important;
      }
    }

  }
}

#sapthapatha {
  .lg-button {
    max-width: 800px;
    margin: 80px auto;
    text-align: center;
    line-height: 1.5;
  }

  .intro {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;

    h2 {
      margin-bottom: 10px;
    }
    h3 {
      margin-bottom: 10px;
    }
    p {
      font-weight: normal;
    }
  }

  .strands-wrapper {
    padding: 0 15px;
  }

  .strands-desc {
    max-width: 1500px;
    margin: 40px auto;

    &:nth-of-type(2) {
      max-width: 1100px;
      margin: 0 auto;
    }
  }

  .strand {
    padding: 0 1%;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    .icon {
      max-height: 200px;
      max-width: 200px;
      margin: 0 auto -30px;

    }
    .title {
      margin-bottom: 10px;
    }
  }
}



@media (max-width: 640px) {
  .sustainable-strand {

    h3 {
      font-size: 20px !important;
    }
  }
  #eco-habitat-page {
    .hero-bg .content-block {
      width: 100%;
      top: 450px;
      left: 0;
      margin: 0;
    }
  }
  #sapthapatha {
    .intro {
      text-align: left;
      h2 {
        font-size: 41px;
      }
    }
  }

  #eco-habitats-slider {
    margin: 0 !important;
  }

  #naandi-section {
    margin: 0 !important;
  }

  #eco-habitat-testimonials {
    margin: 0 !important;
  }


}

@media (max-width: 1240px) {
  .sustainable-strand {
    h3 {
      font-size: 27px;
    }
  }
}