#naandi-page {

  .hero-container {
    positon: relative;
    background-image: url('/static/gallery/naandi/1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #ccc;
    height: 100vh;

    @media (min-width: 900px) {
      background-color: transparent;
      background-attachment: fixed;
    }

    .overlay {
      height: 100vh;
      background: rgba(255, 255, 255, 0.55);

      //@media (min-width: 900px) {
      //  background-color: transparent;
      //}
    }


    .text-container {

      background: transparent;
      @media (min-width: 900px) {
        //background: rgba(255, 255, 255, 0.64);
      }
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
text-align: center;
      padding: 40px 25px;

      h1 {
        font-size: 39px !important;
        margin-bottom: 14px;
      }
      .h4 {
        font-size: 16px;
      }
      @media (min-width: 900px) {
        background-attachment: fixed;
        h1 {
          font-size: 61px !important;
        }
        .h4 {
          font-size: 20px !important;
        }

      }
    }


  }

  #naandi-testimonials {

    .image-container {
      height: 100%;
      background-image: url('/static/images/testimonials/naandi_swetha.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-origin: padding-box;
      background-clip: border-box;
      background-color: #ccc;
    }

  }
  #naandi-intro {
    .naandi-logo{
      width:300px;
      position: relative;
      right:60px;
      margin-bottom: 1rem;
    }

    .metrics {
      .metric {
        margin-bottom: 1.5rem;
        .sub {
          font-size:23px;
        }
        h2 {
          min-width: 140px;
        }

        h2 {
          margin-right: 1rem;
        }
      }
    }
  }

  .home-images {
    padding: 40px 0px 0;
    @media (min-width: 1280px) {
      padding: 80px 20px 0;
    }

    .general.slider-component .image-container {
      width: 100%;
      min-height: 600px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-origin: padding-box;
      background-clip: border-box;
      background-color: #ccc;

      &.one {
        background-image: url('/static/images/naandi/home/1.jpg');
      }
      &.two {
        background-image: url('/static/images/naandi/home/2.jpg');
      }
      &.three {
        background-image: url('/static/images/naandi/home/3.jpg');
      }
      &.four {
        background-image: url('/static/images/naandi/home/4.jpg');
      }
    }
  }
  #about-project {
    .about-naandi {
      margin: 0;
      padding: 100px 0;

      .wrapper {
        max-width: 900px;
        h3 {
          margin-bottom: 20px;
        }
      }

      .metrics {
        padding: 40px 0 0;
        .number {
          margin-right: 10px;
        }
        .metric {
          margin-right: 60px;
          margin-bottom: 30px;
          .number {
            display: block;
            font-size: 67px !important;
            font-weight: bold;
            letter-spacing: -0.045em;
            line-height: 1.2;
            margin-right: 10px;

            @media(min-width: 900px) {
                display: inline-block;
            }
          }
          .description {
            display: block;
            font-weight: bold !important;
            font-size: 20px !important;
            letter-spacing: 0.7em !important;
            text-transform: uppercase !important;
            //letter-spacing: -0.025em;
            color: $primary-color;
            line-height: 105px;
            margin: 0;


            @media(min-width: 900px) {
  display: inline-block;
              font-size: 20px !important;
              letter-spacing: 0.7em !important;
              text-transform: uppercase !important;
            }
          }
        }
      }
    }
  }



  .image-content-list {
    .image-content-component:nth-child(1) {
      .feature-component {
        .image-background {

        }
      }
      .slider-container {
        background: url('/static/images/naandi/1.jpg') center no-repeat;
      }
      .wide-image {
        background-image: url('/static/images/naandi/1.jpg');
      }
    }
    .image-content-component:nth-child(2) {
      .feature-component {
        .image-background {

        }
      }
      .slider-container {
        background: url('/static/images/naandi/2.jpg') center no-repeat;
      }
      .wide-image {
        background-image: url('/static/images/naandi/2.jpg');
      }
    }
    .image-content-component:nth-child(3) {
      .feature-component {
        .image-background {

        }
      }
      .slider-container {
        background: url('/static/images/naandi/3.jpg') center no-repeat;
      }
      .wide-image {
        background-image: url('/static/images/naandi/3.jpg');
      }
    }
    .image-content-component:nth-child(4) {
      .feature-component {
        .image-background {

        }
      }
      .slider-container {
        background: url('/static/images/naandi/4.jpg') center no-repeat;
      }
      .wide-image {
        background-image: url('/static/images/naandi/4.jpg');
      }
    }


  }



  #amenities {
    img {
      transform: scale(1.2);
    }
    .intro-text {
      max-width: 1000px;

      h2 {
        margin-bottom: 20px;
      }
    }

    .filter-buttons {
      margin-bottom: 40px;
      .filter-button {
        display: inline-block;
        margin-right: 50px;
        color: $link-blue;
        &:hover {
          cursor: pointer;
          color: $highlight;
        }
      }
    }

    .amenity-list {

      .amenity {
        padding-right: 2%;
      }

      .text-content {
        margin-bottom: 40px;
      }
      .image {
        height: 220px;
        background: gray;
        margin-bottom: 20px;
        overflow: hidden;
      }
      p.alt-body {
        margin-bottom: 10px;
      }
    }
  }

  #share-section {
    margin-bottom: 0;
    .social-icons {
      display: inline-block;
      .icon {
        display: inline-block;
        padding: 25px 0;
        margin: 0 60px 0 0;
        transition: all 0.2ms ease-in-out;
        img {
          padding: 0 0 7px 0;
          border-bottom: 4px solid white;
        }
        &:hover {
          cursor: pointer;
          img:hover {

            border-bottom: 4px solid red;
          }
        }

        &:nth-of-type(3) {
          &:hover {
            img {
              &.active {
                padding: 0 0 12px;
                border-bottom: 4px solid red;
              }
            }
          }
          img {
            padding: 7px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 640px){
  section#amenities {
    margin-bottom: 0 !important;
  }

}

@media(min-width: 1240px) {
  .content-section {
    h2 {
      font-size: 61px;
    }
  }
}