#school-page {

  .image-content-list {
    .image-content-component:nth-child(1) {
      .feature-component {
        .image-background {

        }
      }
      .slider-container {
        background: url('/static/images/school/1.jpg') center no-repeat;
      }
      .wide-image {
        background-image: url('/static/images/school/1.jpg');
      }
    }
    .image-content-component:nth-child(2) {
      .feature-component {
        .image-background {

        }
      }
      .slider-container {
        background: url('/static/images/school/2.jpg') center no-repeat;
      }
      .wide-image {
        background-image: url('/static/images/school/2.jpg');
      }
    }
    .image-content-component:nth-child(3) {
      .feature-component {
        .image-background {

        }
      }
      .slider-container {
        background: url('/static/images/school/3.jpg') center no-repeat;
      }
      .wide-image {
        background-image: url('/static/images/school/3.jpg');
      }
    }
    .image-content-component:nth-child(4) {
      .feature-component {
        .image-background {

        }
      }
      .slider-container {
        background: url('/static/images/school/4.jpg') center no-repeat;
      }
      .wide-image {
        background-image: url('/static/images/school/4.jpg');
      }
    }
    .image-content-component:nth-child(5) {
      .feature-component {
        .image-background {

        }
      }
      .slider-container {
        background: url('/static/images/school/5.jpg') center no-repeat;
      }
      .wide-image {
        background-image: url('/static/images/school/5.jpg');
      }
    }

  }

  #school-testimonials {
    .image-container {
      height: 100%;
      background-image: url('/static/images/testimonials/school_shivani.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-origin: padding-box;
      background-clip: border-box;
      background-color: #ccc;
    }
  }

  .schools {
    .lg-button {
      text-align: center;
    }
  }
  .video-header-component {

    h1 {
      font-size:47px !important;
    }
    p.hl-body {
      margin-bottom: 20px;
    }
  }
  .hero {
    .container {
      position: relative;
      height: 100vh;
      .wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
      }
    }
    height: 100vh;

    .intro {
      padding: 140px 0 0px;
    }
    h1 {
      margin-bottom: 20px;
    }
    h3 {
      margin-bottom: 30px;
    }
    .sub {
      max-width: 480px;
      font-weight: normal;
    }
  }

  @media (min-width: 1280px) {
    .video-header-component {
      margin-bottom: 160px;
    }
    p.alt-body{
      font-size: 23px;
    }

  }
}