#team-page .hero {
  p {
    font-weight: normal;
  }
}

#core-values {
  .label {
    margin-bottom: 20px;
  }

  .value {
    margin-bottom: 30px;
    max-width: 500px;

    &:last-of-type {
      margin-bottom: 0;
    }

    h3 {
      margin-bottom: 5px;
    }
  }
}

#team-list {

  .team-item {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 0;
    border-bottom: 1px solid $dark-grey;
    &:last-of-type {
      border-bottom: none;
    }
  }
  h3 {
    margin-bottom: 10px;
  }
  .image-wrapper {
    position: relative;
  }
  .image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 175px;
    width: 175px;
    border-radius: 100px;

  }

  .text-content {
    padding-left: 40px;
    .links {

    }
  }
}

#awards {
  padding-bottom: 160px;
  position: relative;
  margin-top: 350px;
  .container {
    max-width: 800px;
  }
  .image-container {
    max-width: 750px;
    height: 450px;
    margin: 0 auto -150px;
    position: relative;
    top: -200px;
  }

  #award-list {
    p {
      margin-bottom: 30px;
    }
  }
}