.form-item {
  margin: 30px 0;
}

label {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: -0.025em;
  line-height: 1.5;
  margin-bottom: 10px;
}

.sub-label {
  opacity: 0.6;
  margin-bottom: 10px;
}

input {
  max-width: 500px;
  -webkit-appearance: none;
  margin: 10px 0;
  border: 4px solid $primary-color;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.75);
  padding: 10px 15px;
  width: 100%;
  display: block;
  font-size: 18px;
}

input.lg {
  padding: 16px 20px;
  display: block;
  font-size: 23px;
}

select {
  max-width: 500px;
  -webkit-appearance: none;
  margin: 10px 0;
  border: 4px solid $primary-color;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.75);
  padding: 10px 15px;
  width: 100%;
  display: block;
  font-size: 18px;
}

textarea {
  max-width: 500px;
  -webkit-appearance: none;
  margin: 10px 0;
  border: 4px solid $primary-color;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.75);
  padding: 10px 15px;
  width: 100%;
  display: block;
  font-size: 18px;
}