
nav {
  .sd {
    display: none;
  }
  .mobile {
    display: block;
  }
}

/* Small (sm) */
@media (max-width: 640px) {
  .tablet, .sd {
    display: none;
  }
  .mobile {
    display: block;
  }

  section {
    margin: 100px 0 !important;
  }

  .lg-button {
    font-size: 29px;
    text-align: left;
    .text, .text-content, p, .alt-body {
      text-align: left;
    }
  }

  .container {
    padding: 0 30px;
  }

  .hide-on-mobile {
    display: none !important;
  }
}



/* Medium (md) */
@media (min-width: 768px) {


  .mobile, .sd {
    display: none;
  }
  .tablet {
    display: block !important;
  }




  .mobile {
    display: none;
  }



}

@media (min-width: 640px) and (max-width: 1024px) {
  .tablet-hidden {
    display: none;
  }
  .sd-hidden {
    display: none;
  }
  .lg-button {
    font-size: 32px;
    text-align: left;
    .text, .text-content, p, .alt-body {
      text-align: left;
    }
  }
  section {
    margin: 100px 0 !important;
  }

  .container {
    padding: 0 30px !important;
  }
  #home-page .hero-bg .content-block {
    margin: 0;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0;
    .text-content {
      padding: 40px 40px;
    }
  }

  nav {
    .full-screen-nav {
      padding-left: 40px;
    }
  }

}

/* Large (lg) */
@media (min-width: 1024px) and (max-width: 1280px){
  .sd-hidden {
    display: none;
  }

  .mobile,.tablet {
    display: none !important;
  }
  .sd {
    display: block;
  }
  nav {
    .mobile {
      display: none;
    }
    .sd {
      display: block;
    }
  }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
  //.mobile .tablet, .sd {
  //  display: none;
  //}
  nav {
    .mobile {
      display: none;
    }
    .sd {
      display: block;
    }
  }
}