//$primary-color: #5D3331;
$primary-color: #5D3331;
//$secondary-color:
//$tertiary-color:

//Functional colors
$black: #202218;
$alt-black: #4b4c49;
$dark-grey: #D1CBCB;
$light-grey: rgba(243, 240, 240, 0.62);

$link-blue: #4f9cd1;
//$highlight: #F5D05A;
//$highlight: #ecbf2f;
$highlight: #ffde39;


//Colors

$green-1: #A2C74E;
$green-2: #90B979;