$admin-bg: #F6F5F8;

#admin {

  h2, .h2 {
    font-size: 39px;
    letter-spacing:-0.03em;
    margin-bottom: 0;
  }
  h3, .h3 {
    font-size: 31px;
    letter-spacing:-0.03em;
    margin-bottom: 12px;
  }
  h4, .h4 {
    font-size: 25px;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 20px;
  }

  .small-text {
    font-size: 13px;
    margin-bottom: 0;
  }


}

nav#admin-nav {
  background: white;
  #admin-logo {
    max-width: 240px;
  }

  .navbar-item {
    font-weight: bold;
    letter-spacing: -0.03em;
  }
  a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
    color: $primary-color;
  }

  .navbar-link:not(.is-arrowless)::after {
    border-color: $primary-color;
  }
}

@import 'dashboard';

//Form
#admin{
  form {
    label.label {
      margin-bottom: 0;
    }

    .form-title {
      margin-top:20px;
      margin-bottom: 30px;
    }

    textarea {
      max-width: 100%;
      margin: 10px 0 30px;
    }
  }
}

